<section id="maincontent">
    <div class="container">
      <div class="row">

<div>
          <aside>
<div class="widget">
              <h4>Recherche d'offres d'emploi sur Indeed</h4>

          <form method="GET" action="/search" enctype="multipart/form-data" role="form">
            <div class="row">
              <div class="span4 form-group">
                <label class="sr-only">Emploi</label>
								<input type="text" class="form-control" name="q" placeholder="Emploi*" required="" data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
                <div class="validation"></div>
              </div>

              <div class="span4 form-group">
               <label class="sr-only">Lieu</label>
								<input type="text" name="l" class="form-control" placeholder="Lieu*" required="" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
                <div class="validation"></div>
              </div>
                <div class="span4 form-group">
                  <button class="btn btn-color btn-rounded" type="submit">Rechercher</button>
                </div>
              </div>
          </form>
 
     </div>
          </aside>
        </div>


        </div>
      </div>
    </div>



    <!-- WRAPPER -->
<div class="wrapper">


		<div class="container-fluid container-custom">

			<!-- MODULE TITLE -->


			<div class="container">

                			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<h2 class="module-title font-alt">Résultats :</h2>
				</div>
			</div>

				<div class="row">
					<div class="col-md-12">
						<div class="row">
							{{#each jobs}}
					
							<div class="col-md-6">
								<div class="post post-sm">
    								<div class="post-body">
										<div class="post-category">
											<a href="https://www.indeed.fr{{linkJob}}">{{titleJob}}</a>
										</div>
										<h4 class="post-title title-sm"><a href="blog-post.html">{{company}}</a></h4>
										<p>{{heading}}</p>
										<ul class="post-meta">
                                            {{#if date}}
											<li>{{location}} , publié {{date}}</li>
                                            {{/if}}
                                            {{#unless date}}
                                            <li>{{location}} , Annonce sponsorisée</li>
                                            {{/unless}}
										</ul>
									</div>
								</div>
							</div>

</br>
<hr>
							

							{{/each}}


						</div>


					</div>
				</div>

			</div>




<footer class="footer">
    
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              © Arinfo2019 - Tous Droits Réservés</s>
            </p>
          </div>
          <div class="span6">
            <div class="pull-right">
              <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Plato
                -->
                Conception par <a href="https://bootstrapmade.com/">MS & AM</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>









		</div>
	</section>

</div>


